html
    head
        title Mema - Manage Your Members easy
        style
            include ../../node_modules/daemonite-material/css/material.min.css
        link(rel="stylesheet", href="../assets/basestyle.css")
        script
            //include ../../node_modules/daemonite-material/js/material.js