include partials/head

body
    .container(style="margin: 0 auto;  margin-top: 5%;")
        .row.align-items-center(style="min-height: 30%;")
            .col(style="text-align: center;")
                h1= error.title
                hr
                h3= error.description
